*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(245, 245, 245, 0.651);
    font-weight: bold;
    cursor: default;
}


body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}


.main-container{
    padding: 20px;
    background: rgba(0, 0, 0, 0.801);
    height: 250px;
    width: 310px;
    border-radius: 5%;
}

.header{
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.cidade{
    padding: 0;
    padding-left: 10px;
    height: 30px;
    width: 275px;
    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid rgba(0, 0, 0, 0.808);
    border-radius: 20px;
    cursor: text;
}
.pesquisar{
    width: 32px;
    height: 32px;
    background-image: url(images/lupa.png);
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid rgba(0, 0, 0, 0.808);
    border-radius: 50%;
    cursor: pointer;
}

.pesquisar:hover{
    width: 32px;
    height: 32px;
    background-image: url(images/lupa-hover.png);
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba(0, 0, 0, 0.411);
    border: 1px solid rgba(255, 255, 255, 0.808);
    border-radius: 50%;
    cursor: pointer;
}

.textfield{
    height: calc(200px - 40px);
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.textfield > *{
    margin: 10px 0px;
}

.small-box{
    display: flex;
    flex-direction: row;
}
.weather-icon{
    width:40px;
    height:40px;
}